<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Aluno</th> 
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, training_path(student.trainings.first.slug), class: "text-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
